[Unit]
Wants=network-online.target
After=network-online.target avahi-daemon.service

[Service]
Type=exec
ExecStart=/usr/local/bin/avahi-publishd

[Install]
WantedBy=multi-user.target
